In [1]:
import pandas as pd

datadir = '../Collected data/'

In [47]:
data = pd.read_csv(datadir+'rawdata/datalogs_Participant5.csv')

labels = pd.read_csv(datadir+'Annotationdata/data_participant5.csv')

In [48]:
data.tail()

,Time,Timestamp,X,Y,Z,Magnitude,Pressure
47014,15:58:54.975,1049.893097,-0.890503,0.355591,-0.343384,1.018505,981.305225
47015,15:58:54.993,1049.911469,-0.890503,0.355591,-0.343384,1.018505,981.305225
47016,15:58:55.012,1049.929932,-0.890503,0.355591,-0.343384,1.018505,981.305225
47017,15:58:55.034,1049.951813,-0.890503,0.347168,-0.347778,1.017089,981.305225
47018,15:58:55.052,1049.970306,-0.890503,0.347168,-0.347778,NaN,NaN

In [49]:
labels.head()

  Elapsedtime Comment
0     00:35.2       N
1     01:14.0      LD
2     01:28.0       N
3     01:41.4      SU
4     01:58.5       N

In [50]:
import datetime

def convert_timestamp_to_seconds(timestamp_str):
    # Parse the timestamp string to extract hours, minutes, seconds, and milliseconds
    timestamp_obj = datetime.datetime.strptime(timestamp_str, "%M:%S.%f")
    
    # Calculate total seconds from the timestamp
    total_seconds = (timestamp_obj.hour * 3600) + (timestamp_obj.minute * 60) + timestamp_obj.second + (timestamp_obj.microsecond / 1000000)
    
    return total_seconds

In [51]:
for ind, row in labels.iterrows():
    time = convert_timestamp_to_seconds(row['Elapsedtime'])
    row['Elapsedtime'] = time

In [52]:
def map_label(timestamp):
    # Find the corresponding label for the given timestamp
    prev = -1.0
    for index, row in labels.iterrows():
        if timestamp <= row['Elapsedtime'] and timestamp >= prev:
            return row[1]
        prev = row['Elapsedtime']
    # If no matching label range is found, return a default label or handle as needed
    return 'N'

In [53]:
trial = [32.987, 38.456, 45.534, 120.03, 125.03, 170.45, 205.0, 220.567]
for each in trial:
    print(map_label(each))
    #works fine

N
LD
LD
SU
SU
N
SD
SD

C:\Users\ravik\AppData\Local\Temp\ipykernel_10564\1819183149.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  return row[1]

In [54]:
# Create a new 'label' column in sensor_data by mapping timestamps
data['label'] = data['Timestamp'].apply(map_label)

C:\Users\ravik\AppData\Local\Temp\ipykernel_10564\1819183149.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  return row[1]

In [45]:
data.head(20000)

,Time,Timestamp,X,Y,Z,Magnitude,Pressure,label
0,15:13:14.647,0.151917,-0.862793,0.486938,0.215332,1.013848,976.025737,N
1,15:13:14.672,0.177185,-0.868042,0.492310,0.209961,1.019779,976.025737,N
2,15:13:14.689,0.194153,-0.868042,0.492310,0.209961,1.019779,976.027834,N
3,15:13:14.707,0.211823,-0.868042,0.492310,0.209961,1.019779,976.027834,N
4,15:13:14.727,0.231903,-0.868042,0.492310,0.209961,1.019779,976.027834,N
...,...,...,...,...,...,...,...,...
19995,15:20:43.658,449.162720,-0.925659,0.342651,0.219360,1.011125,974.739795,LD
19996,15:20:43.677,449.182343,-0.925659,0.342651,0.219360,1.011125,974.739795,LD
19997,15:20:43.697,449.201813,-0.925659,0.342651,0.219360,1.011125,974.739795,LD
19998,15:20:43.720,449.224762,-0.917114,0.346802,0.220093,1.004893,974.739795,LD
19999,15:20:43.739,449.244293,-0.917114,0.346802,0.220093,1.004893,974.739795,LD

In [46]:
# Save updated sensor_data with labels to CSV
data.to_csv(datadir+'datalabelled/data_with_label4.csv', index=False)